body {
  margin: 0;
  padding: 0;
  background-color:black;
} 
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(187, 0, 0, 0);
  padding: 10px;
  
}
h1{
  color: rgb(214, 20, 20);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
  border-radius: 15px;
  padding: 10px;
  background-color: black;
  border-color: white;
  width: 300px;
  text-align: center;
  color: white;
  cursor: pointer;
}
i{
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.button1{
  border-radius: 150px;
  padding: 10px;
  background-color: black;
  border-color: white;
  color: white;
  width: 100px;
  cursor: pointer;
}
.h1container1{
  color: blue;
}
.div2{
  color: white;
}
.sidebar{
width: 250px;
height: 80vh;
background-color: white;
border-color: white;
padding: 25px 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
a{
  color: black;
}

.button2, .button3, .button4, .button5, .button6, .button7{
  border-radius: 150px;
  padding: 10px;
  background-color: black;
  border-color: white;
  color: white;
  width: 235px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: white;
}
.image1{
  width: 60px;
  height: 80px;
  margin-top: 20px;
  padding-top: 300px;
}